<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/api/{R:1}" />
				</rule>
				<rule name="Remove trailing slash" stopProcessing="false">
					<match url="(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" />
				</rule>
				<rule name="Pass Through" enabled="true" stopProcessing="true">
					<match url="^/?(theme|favicon\.ico)/?" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule>
				<rule name="Framework Routing" enabled="true" stopProcessing="true">
					<match url="([^ ]+)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="index.php?R0={R:0}" logRewrittenUrl="false" />
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="{app_php_path}\php-cgi.exe|-c {app_absolute_path}\srv\app.local\php.ini" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
</configuration>
