<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{app_relative_url}{R:1}" />
				</rule>
				<rule name="Remove trailing slash" stopProcessing="false">
					<match url="(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" />
				</rule>
				<rule name="Pass Through" enabled="true" stopProcessing="true">
					<match url="^/?(theme|favicon\.ico)/?" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule>
				<rule name="Framework Routing" enabled="true" stopProcessing="true">
					<match url="([^ ]+)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/{app_relative_url}index.php?R0={R:0}" logRewrittenUrl="false" />
				</rule>
			</rules>
		</rewrite>

		<handlers>
			<add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="{app_php_path}\php-cgi.exe|-c {app_absolute_path}\srv\app.local\php.ini" resourceType="Unspecified" requireAccess="Script" />
		</handlers>

        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="{app_root_url}"
                 allowCredentials="true"
                 allowed="true">
                <allowMethods>
                    <add method="GET" />
                    <add method="POST" />
                    <add method="OPTIONS" />
                    <add method="PUT" />
                    <add method="DELETE" />
                </allowMethods>
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="Authorization" />
                    <add header="content-type" />
                    <add header="X-MsAccessToken" />
                </allowHeaders>
                <exposeHeaders>
                    <add header="X-Total-Count" />
                    <add header="X-Page" />
                    <add header="X-Count" />
                    <add header="X-Limit" />
                    <add header="X-Page-Count" />
                    <add header="content-disposition" />
                </exposeHeaders>
            </add>
            <add origin="{app_frontend_root_url}"
                 allowCredentials="true"
                 allowed="true">
                <allowMethods>
                    <add method="GET" />
                    <add method="POST" />
                    <add method="OPTIONS" />
                    <add method="PUT" />
                    <add method="DELETE" />
                </allowMethods>
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="Authorization" />
                    <add header="content-type" />
                    <add header="X-MsAccessToken" />
                </allowHeaders>
                <exposeHeaders>
                    <add header="X-Total-Count" />
                    <add header="X-Page" />
                    <add header="X-Count" />
                    <add header="X-Limit" />
                    <add header="X-Page-Count" />
                    <add header="content-disposition" />
                </exposeHeaders>
            </add>
            <add origin="https://swagger.garrettcounty.local"
                 allowCredentials="true"
                 allowed="true"
                 maxAge="120">
                <allowMethods>
                    <add method="GET" />
                </allowMethods>
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="Authorization" />
                    <add header="content-type" />
                    <add header="X-MsAccessToken" />
                </allowHeaders>
                <exposeHeaders>
                    <add header="X-Total-Count" />
                    <add header="X-Page" />
                    <add header="X-Count" />
                    <add header="X-Limit" />
                    <add header="X-Page-Count" />
                    <add header="content-disposition" />
                </exposeHeaders>
            </add>
        </cors>
	</system.webServer>
</configuration>
