<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="Pass Through" enabled="true" stopProcessing="true">
					<match url="^/?(theme|favicon\.ico)/?" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule>
				<rule name="Framework Routing" enabled="true" stopProcessing="true">
					<match url="([^ ]+)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="index.php?R0={R:0}" logRewrittenUrl="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
